<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
  <!--<link rel="stylesheet" href="css/app.css">-->
  <!--<link rel="stylesheet" href="css/animations.css">-->

  <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
  <!--<script src="bower_components/angular/angular.js"></script>-->
  <!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
  <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
  <!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
  <!--<script src="js/app.js"></script>-->
  <!--<script src="js/animations.js"></script>-->
  <!--<script src="js/controllers.js"></script>-->
  <!--<script src="js/filters.js"></script>-->
  <!--<script src="js/services.js"></script>-->

    <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">

    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-resource.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/app.js"></script>


</head>


<body>


<div ng-view></div>


<!--<p> total number is <span ng-model="phones">{{phones.length}} </span></p>-->
<!--<p> Pattern is <span ng-model="query">{{query}} </span></p>-->
<!--<p> Order is <span ng-model="orderProp">{{orderProp}} </span></p>-->
<!--<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>-->


</body>


</html>
